<?xml version="1.0"?>
<launch>
    <!-- ROBOT arguments -->
    <arg name="odom_frame"  		    default="odom"/>
    <arg name="base_frame"  		    default="base_footprint"/>
    <arg name="wheel_speed_topic"          default="gazebo_wheel_speed_sim"/>
    <arg name="wheel_speed_command_topic"  default="gazebo_wheel_cmd_sim"/>
    <arg name="robot_speed_command_topic"  default="gazebo_cmd_vel"/>
    <arg name="publish_gazebo_odom"        default="true"/>
        
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find omni_description)/rviz/urdf.rviz" />
    
</launch>
