<?xml version="1.0"?>
<robot name="omni_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="roller_trans_v0" params="prefix">
    <transmission name="${prefix}_roller_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}_joint">
	    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>
  
 
  <xacro:roller_trans_v0 prefix="roller_1_1"/>
  <xacro:roller_trans_v0 prefix="roller_1_2"/>
  <xacro:roller_trans_v0 prefix="roller_1_3"/>
  <xacro:roller_trans_v0 prefix="roller_1_4"/>
  <xacro:roller_trans_v0 prefix="roller_1_5"/>
  <xacro:roller_trans_v0 prefix="roller_1_6"/>
  <xacro:roller_trans_v0 prefix="roller_1_7"/>
  <xacro:roller_trans_v0 prefix="roller_1_8"/>
  <xacro:roller_trans_v0 prefix="roller_1_9"/>
  <xacro:roller_trans_v0 prefix="roller_1_10"/>

  <xacro:roller_trans_v0 prefix="roller_2_1"/>
  <xacro:roller_trans_v0 prefix="roller_2_2"/>
  <xacro:roller_trans_v0 prefix="roller_2_3"/>
  <xacro:roller_trans_v0 prefix="roller_2_4"/>
  <xacro:roller_trans_v0 prefix="roller_2_5"/>
  <xacro:roller_trans_v0 prefix="roller_2_6"/>
  <xacro:roller_trans_v0 prefix="roller_2_7"/>
  <xacro:roller_trans_v0 prefix="roller_2_8"/>
  <xacro:roller_trans_v0 prefix="roller_2_9"/>
  <xacro:roller_trans_v0 prefix="roller_2_10"/>

  <xacro:roller_trans_v0 prefix="roller_3_1"/>
  <xacro:roller_trans_v0 prefix="roller_3_2"/>
  <xacro:roller_trans_v0 prefix="roller_3_3"/>
  <xacro:roller_trans_v0 prefix="roller_3_4"/>
  <xacro:roller_trans_v0 prefix="roller_3_5"/>
  <xacro:roller_trans_v0 prefix="roller_3_6"/>
  <xacro:roller_trans_v0 prefix="roller_3_7"/>
  <xacro:roller_trans_v0 prefix="roller_3_8"/>
  <xacro:roller_trans_v0 prefix="roller_3_9"/>
  <xacro:roller_trans_v0 prefix="roller_3_10"/>

  <xacro:roller_trans_v0 prefix="roller_4_1"/>
  <xacro:roller_trans_v0 prefix="roller_4_2"/>
  <xacro:roller_trans_v0 prefix="roller_4_3"/>
  <xacro:roller_trans_v0 prefix="roller_4_4"/>
  <xacro:roller_trans_v0 prefix="roller_4_5"/>
  <xacro:roller_trans_v0 prefix="roller_4_6"/>
  <xacro:roller_trans_v0 prefix="roller_4_7"/>
  <xacro:roller_trans_v0 prefix="roller_4_8"/>
  <xacro:roller_trans_v0 prefix="roller_4_9"/>
  <xacro:roller_trans_v0 prefix="roller_4_10"/>
</robot>
